version: "3.9"
services:
  db:
    image: postgres:15
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
 
  web:
    image: node:20
    working_dir: /app
    env_file:
      - ./.env
    environment:
      PGHOST: db
      PGPORT: 5432
    volumes:
      - ./:/app
    command: bash -c "npm i && node index.js"
    ports:
      - "3000:3000"
    depends_on:
      - db
         

volumes:
  pgdata:
