<section class="container ">
  <h2 class = "text-center">Login</h2>

  {{#if error}}<div class="alert alert-error">{{error}}</div>{{/if}}

  {{#if noUser}}
    <div class="alert alert-info">
      We couldn’t find the username <strong>{{enteredUsername}}</strong>.
    </div>
    <a class="btn" href="/register">Register this username</a>
    <hr />
    <p>Or try again:</p>
  {{/if}}
<div class ="container mt-3">
  <form  method="post" action="/login" novalidate>
    <div class = "mt-3">
    
      
      <input type="email" placeholder="Email Address" class = "form-control " name="email" value="{{enteredUsername}}" required />
    
    </div>
    <div class = "mt-3">
    
      
      <input type="password" placeholder="Password" class = "form-control" name="password" required />
    
    </div>
    <button  type="submit" class="btn btn-secondary mt-3">Log in</button>
  </form>
  <div class="mt-3">
                <a >Doesn't have account?</a>
            <a href="/register"> Register</a>
            </div>
</div>
</section>
