<h1>Search for Plants</h1>

<div class="search-container">
    <form id="searchForm">
        <label for "plant_name">Plant Name:</label>
        <input type = "text" id="plant_name" name="name" required>
        
    </form>
</div>